.hideTitlesIconContainer {
  position: relative;
  display: inline-block;
}

.hideTitlesIconContainer::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  top: 10px;
  left: 1px;
  /* background: rgba(255, 255, 255, 1); */
  background-color: #ffffff;
  transform: rotate(44deg);
  z-index: 2;
}
