{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "endOfLine": "lf",
  "tabWidth": 2
}
